<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{HEAD_TITLE}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{HEAD_DESCRIPTION}">
    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffffff">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#0b0b0d">

    <link rel="stylesheet" href="/assets/css/common.css?v={VERSION}">

    <link rel="icon" type="image/svg+xml" href="/assets/graphic/favicon.svg">
</head>

<body>
{MAIN}

</body>
</html>
